@import './variables';

.bg-grey {
  background-color: var(--bg-color-3);
}

.border-top-radius {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-grey {
  color: var(--text-color-2);
}

.right-border {
  border-right: 1px solid var(--bg-color-3);
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

.fade-enter-active {
  animation: fade-in .5s;
}

.fade-leave-active {
  animation: fade-in .3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(6%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}
