@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import "~normalize.css/normalize.css";
@import './variables';
@import './themes';

* {
  box-sizing: border-box;
}

/* The mc-checkbox */
.mc-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $base-font-stack;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 23px;
}

/* Hide the browser's default checkbox */
.mc-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mc-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 2px solid var(--btn-color-1);
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.mc-checkbox:hover input ~ .mc-checkmark {
  background-color: var(--input-color-2);
}

/* When the checkbox is checked, add a blue background */
.mc-checkbox input:checked ~ .mc-checkmark {
  background-color: var(--btn-color-1);
}

/* Create the mc-checkmark/indicator (hidden when not checked) */
.mc-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mc-checkmark when checked */
.mc-checkbox input:checked ~ .mc-checkmark:after {
  display: block;
  background-image: var(--checkbox-icon);
}

/* Style the mc-checkmark/indicator */
.mc-checkbox .mc-checkmark:after {
  left: 0;
  top: 0px;
  width: 23px;
  height: 23px;
  display: block;
  background-size: 66%;
  background-position: 25% 25%;
  background-repeat: no-repeat;
}

.rtl, [dir="rtl"] {
  .mc-checkbox {
    padding-left: 0;
    padding-right: 30px;

    .mc-checkmark {
      left: auto;
      right: 0;
    }
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-top: 16px;

  .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    border-radius: 7px;
    border: 2px solid var(--bg-color-4);
    height: 50px;
    font-family: $base-font-stack;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 30px;

    background: var(--input-color-1);
    color: var(--input-text-color-1);
    padding-left: 18px;
    padding-right: 18px;
    outline: none;
    transition: all .15s ease-in;

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: rgba(23, 23, 23, 0.2);
    }

    &:focus {
      border-color: var(--input-color-2);
    }
  }

  &:first-of-type {
    margin-top: 0;
  }
  & + .main-button {
    margin-top: 32px;
  }
}

.main-button {
  text-decoration: none;
  text-align: center;
  background: var(--btn-color-1);
  color: var(--btn-text-color-1);
  border: none;
  border-radius: 7px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  font-size: 18px;
  font-weight: $font-weight-bold;
  outline: none;
  display: block;
  position: relative;
  padding: 0 50px;

  &:not(:disabled):active, &:not(:disabled):focus {
    color: var(--btn-text-color-1) !important;
    transform: scale(0.97);
    transition: all .3s ease-out;
  }

  &:disabled, &.disabled {
    opacity: 0.1;
    user-select: none;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-left {
    left: 25px;
  }

  .icon-right {
    right: 25px;
  }
}

.fade-enter-active {
  animation: fade-in .5s;
}

.fade-leave-active {
  animation: fade-in .25s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(6%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

@media screen and (max-width: 320px) {
  .main-button {
    height: 40px;
    line-height: 40px;
  }

  .mc-checkbox {
    font-size: 12px;
    line-height: 18px;
  }
}